name: xkcd
description: Another xkcd viewer.

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# Read more about versioning at semver.org.
version: 1.2.0+6

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  cached_network_image: ^0.5.1
  fluttertoast: ^2.2.11
  flutter_web_browser: ^0.9.0+1
  http: ^0.12.0+1
  image: ^2.0.6
  outline_material_icons: ^0.1.0
  package_info: ^0.4.0
  path_provider: ^0.4.0
  photo_view: ^0.1.3
  pimp_my_button:
      git:
        url: git://github.com/Norbert515/pimp_my_button.git
  rounded_modal: ^1.0.0
  scoped_model: ^1.0.1
  share: ^0.6.0
  shared_preferences: ^0.4.0
  simple_permissions: ^0.1.9
  url_launcher: ^5.0.0
  vibrate: ^0.0.4

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter


# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg

  assets:
    - assets/contributors.json
    - assets/locale/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.io/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.io/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.io/custom-fonts/#from-packages

  fonts:
    - family: FiraMono
      fonts:
        - asset: assets/fonts/FiraMono-Bold.ttf
          weight: 700
        - asset: assets/fonts/FiraMono-Medium.ttf
        - asset: assets/fonts/FiraMono-Regular.ttf